.welcome__text{
    max-width: 500px;
    height: 330px;
    background-color: #303030;
    padding:32px;
    border-radius: 8px;

}

.welcome__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.welcome__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:32px;
}

.welcome__info{
    font-size: 18px;
    line-height:24px;
    color: white;
}

.why__us{
    width: 100%;
    height: auto;
    padding:1rem;
    background-color: #EDEDED;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons__div{
    display: flex;
    flex-direction: column;
    gap:32px;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
}

.why__benefits{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:16px;
}

.row__images{
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
}

.home__gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:16px;
    margin: 2rem auto;
}
@media (min-width:768px) {
    .welcome__description{
        flex-direction: row;
    }
}

@media(max-width:503px){
    .home__gallery{
        flex-direction: column;
    }
}