.contact__icon{
    background-color: black;
    width: 20px;
    height: 20px;
    padding:16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 1rem;
    align-items: center;
    width: 300px;
    height: 150px;
}

.contactInfo__container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:2rem 0 2rem 0;
}

iframe{
    max-width: 100%;
}